Практическая работа №2 Основы Python

Задание 1.
Необходимо спарсить данные о вакансиях python разработчиков с сайта hh.ru, введя в поиск “python разработчик” и указав, что мы рассматриваем все регионы

In [1]:
import requests
import pandas as pd

number_of_pages = 100
job_title = ['python разработчик']
for job in job_title:
    data=[]
    for i in range(number_of_pages):
        url = 'https://api.hh.ru/vacancies'
        par = {'text': job, 'area':'113','per_page':'10', 'page':i}
        r = requests.get(url, params=par)
        e=r.json()
        data.append(e)
        vacancy_details = data[0]['items'][0].keys()
        df = pd.DataFrame(columns= list(vacancy_details))
        ind = 0
        for i in range(len(data)):
            for j in range(len(data[i]['items'])):
                df.loc[ind] = data[i]['items'][j]
                ind+=1

In [2]:
all_refs = list(map(lambda x: 'https://api.hh.ru/vacancies/' + x, df['id']))
data1=[]
for i in all_refs:
    r = requests.get(i)
    e=r.json()
    try:
        data1.append([e['name'], e['experience']['name'], e['salary']['to'], e['area']['name']])
    except:
        pass

df1 = pd.DataFrame(data1, columns = ['title', 'work experience', 'salary', 'region'])
df1

,title,work experience,salary,region
0,Разработчик Solidity/Разработчик Rust/Разработ...,От 3 до 6 лет,NaN,Москва
1,Разработчик Python,От 1 года до 3 лет,200000.0,Москва
2,Backend Python Developer,От 3 до 6 лет,360000.0,Москва
3,Разработчик C# / Python,От 3 до 6 лет,500000.0,Москва
4,Python Developer (Remote),От 3 до 6 лет,350000.0,Москва
...,...,...,...,...
364,Преподаватель программирования,От 1 года до 3 лет,NaN,Астрахань
365,Senior Backend Engineer (Kotlin/C++/Python) at...,От 3 до 6 лет,NaN,Москва
366,Junior C++ Game Developer,От 1 года до 3 лет,NaN,Санкт-Петербург
367,Преподаватель программирования в онлайн-школу ...,От 1 года до 3 лет,55000.0,Санкт-Петербург
368,Team lead Data Scientist,Более 6 лет,NaN,Москва

Задание 2. Палиндром строки

In [3]:
x = ['taco cat', 'rotator', 'black cat']
for polin in x:
    a = polin[::-1].replace(" ", "")
    if polin.replace(" ", "") == a:
        print(f'Является ли {polin} палиндромом?\nyes')
    else:
        print(f'Является ли {polin} палиндромом?\nno')

Является ли taco cat палиндромом?
yes
Является ли rotator палиндромом?
yes
Является ли black cat палиндромом?
no

Задание 3. Перевод арабского числа в римское

In [4]:
#x = 3
#x = 9
x = 1945

arabic = [1, 4, 5, 9, 10, 40, 50, 90,
    100, 400, 500, 900, 1000]
roman = ["I", "IV", "V", "IX", "X", "XL",\
    "L", "XC", "C", "CD", "D", "CM", "M"]
i = 12
      
while x:
    div = x // arabic[i]
    x %= arabic[i]  
    while div:
        print(roman[i], end = "")
        div -= 1
    i -= 1

MCMXLV

Задание 4. Валидность скобок

In [5]:
def paraCheck(x):
   while True:
       if '()' in x :
           x = x.replace ( '()' , '' )
       elif '{}' in x :
           x = x.replace ( '{}' , '' )
       elif '[]' in x :
           x = x.replace ( '[]' , '' )
       else :
           return not x

x = '[{}({})]'
print(f'{paraCheck(x)}')
x1 = '{]'
print(f'{paraCheck (x1)}')
x2 = '{'
print(f'{paraCheck (x2)}')

True
False
False

Задание 5. Умножить два бинарных числа в формате строк

In [6]:
x1 = '111'
x2= '101'
number = bin((int(x1,2) * int(x2,2)))
print(number[2:])

100011